.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.gd {
  position: relative;
  text-align: center;
  width: 70%;
  height: 100%;
  text-transform: uppercase;
}

.banner p {
  color: lightblue;
  background-color: gray;
  display: flex;
  justify-content: center;
  padding: 50px;
  border-radius: 30px;
  z-index: 1;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.banner a {
  color: lightblue;
  background-color: gray;
  display: flex !important;
  padding: 10px !important;
  width: 20% !important;
  height: 10% !important;
  justify-content: center !important;
  margin-top: 10px !important;
  font-size: 15px !important;
  line-height: 15px !important;
}
.banner h5 {
  background-color: gray;
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 30px 30px 30px 30px;
  z-index: 1;
  margin-top: 10px;
  font-size: 20px;
}
.banner p:hover {
  animation: yo 0.5s;
}
.banner h5:hover {
  animation: yo 0.5s;
}
@keyframes yo {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
